.box_b{
    background: rgb(81, 81, 77); 
    display: flex;
    justify-content:center;
    margin: 150px;
    
}
.box1{
    text-align: center;
    border: 2px solid black;
    max-width: 700px;
    height: 500px;
    /* background-image: url("../img.png"); */
    background: rgb(194, 199, 199);
    background-size:700px ;
    font-size: 30px;
}
p{
    font-size: 20px;
}