h1{
    text-align: center;
    font-size: 50px;
}
.box1{
    text-align: center;
    
    
}
.box_b{
    font-size: 50px;
    border-radius: 15%;
    background: aqua;
    padding: 20px;
    cursor: pointer;
}
.box_b1{
    background: rgb(185, 225, 225);
    border-radius: 15%;
    cursor: pointer;
}