.box{
    background: rgb(81, 81, 77);
}
h1{
    text-align: center;
    font-size: 50px;
    
}
.box1{
    border: 2px solid red;
    text-align: center;
}
.box_b{
    font-size: 50px;
    border-radius: 15%;
    padding: 20px;
    cursor: pointer;
}
.box_b1{
    border-radius: 15%;
    cursor: pointer;
}
.box2{
    text-align: center;
    border: 2px solid red;
}
#id_input1{
    font-size: 35px;
}
#id_of_input{
    color: red;
}
.box3{
    text-align: center;
    border:2px solid red;
}
#id_commen_in{
    font-size: 30px;
}
.box_b_c{
    font-size: 30px;
}
